<style>
  .fullHeight {
    min-height: 90vh;
    margin-top: 20px;
  }
</style>
<section class="section has-background-warning fullHeight">
  <div class="container" style="width: 60%">
    <!-- Título -->
    <h2 class="title is-3 mt-5 has-text-weight-semibold">Modificar Grupo</h2>
    <% if (grupo) {%> <form
    action="/psicologa/grupo/<%=grupo.idGrupo%>/modificar" method="POST"
    enctype="multipart/form-data">
    <input type="hidden" name="_csrf" value="<%= csrfToken%>" />
    <input type="hidden" name="idGrupo" value="<%= grupo.idGrupo%>" />
    <div class="box has-background-info has-text-white">
      <label class="label">Institución:</label>
      <input
        type="text"
        class="input"
        name="institucion"
        value="<%= grupo.institucion%>" required />
      <br />
      <br />
      <label class="label">Posgrado:</label>
      <input
        type="text"
        class="input"
        name="posgrado"
        value="<%= grupo.posgrado%>" required/>
      <br /><br />
      <div class="columns is-flex is-justify-content-center">
        <div class="column is-half is-centered">
          <label class="label">Generación:</label>
          <input
            type="text"
            class="input"
            name="generacion"
            value="<%= grupo.generacion%>" required/>
        </div>
      </div>

      <div class="columns is-flex is-justify-content-center">
        <div class="column is-half is-centered">
          <label class="label">Fecha Límite:</label>
          <input
            type="date"
            class="input"
            name="fechaLimite"
            value="<%= tienePruebas.fechaLimitePrueba.toISOString().split('T')[0]%>"  required/><br /><br />
        </div>
      </div>
    </div>
    <br /><br />

    <!-- Botones de acción -->
    <section id="SesionGrupal">
      <div class="title is-4 has-text-weight-semibold">Sesión Grupal</div>
      <div class="box has-background-info has-text-white">
        <div class="columns is-flex is-justify-content-center">
          <div class="column is-half is-centered">
            <div class="field">
              <label class="label">Fecha</label>
              <div class="control">
                <input
                  class="input"
                  type="date"
                  name="fechaPruebaGrupal"
                  value="<%= grupo.fechaPruebaGrupal.toISOString().split('T')[0]%>" required />
              </div>
            </div>
          </div>
        </div>
        <div class="columns is-flex is-justify-content-center">
          <div class="column is-half is-centered">
            <div class="field">
              <label class="label">Hora</label>
              <div class="control">
                <% const dateTime = new Date(grupo.fechaPruebaGrupal); const
                hours = String(dateTime.getHours()).padStart(2, '0'); const
                minutes = String(dateTime.getMinutes()).padStart(2, '0'); %>
                <input
                  class="input"
                  type="time"
                  name="horaPruebaGrupal"
                  value="<%= hours %>:<%= minutes %>" required />
              </div>
            </div>
          </div>
        </div>
        <div class="columns is-flex is-justify-content-center">
          <div class="column is-half is-centered">
            <div class="field">
              <label class="label">Link</label>
              <div class="control">
                <input
                  class="input"
                  type="text"
                  name="enlaceZoom"
                  value="<%= grupo.enlaceZoom%>"
                  required />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="columns">
        <div class="column has-text-centered">
          <input
            class="button m-5 is-primary has-text-white"
            type="submit"
            value="Confirmar" />
        </div>
      </div>
      <%}%>
    </section>
  </div>
</section>
