<style>
    .fullHeight {
      min-height: 90vh;
      margin-top: 20px;
    }
  </style>
  <section class="section has-background-warning fullHeight">
    <div class="container" style="width: 60%">
      <!-- Título -->
      <h2 class="title is-3 mt-5 has-text-weight-semibold">Modificar Aspirante</h2>
      <form action="/psicologa/modificarAspirante/<%= aspirante.idUsuario%> " method="POST" enctype="multipart/form-data">
        <input type="hidden" name="_csrf" value="<%= csrfToken%>" />
        <input type="hidden" name="idUsuario" value="<%= aspirante.idUsuario%>" />
      <div class="box has-background-info has-text-white">
        <label class="label">Nombre(s):</label>
        <input type="text" class="input" name="nombres" value="<%= aspirante.nombres %>" required >
        <br><br>
        <label class="label">Apellido Paterno:</label>
        <input type="text" class="input" name="apellidoPaterno" value="<%= aspirante.apellidoPaterno %>" required >
        <br><br>
        <label class="label">Apellido Materno:</label>
        <input type="text" class="input" name="apellidoMaterno" value="<%= aspirante.apellidoMaterno %>" required>
        <br><br>
        <label class="label">Código de Identidad:</label>
        <input type="text" class="input" name="codigoIdentidad" value="<%= aspirante.codigoIdentidad %>" required>
        <br><br>
        <label class="label">Correo Electrónico:</label>
        <input type="text" class="input" name="correo" value="<%= aspirante.correo %>" required>
        <br><br>
        <label class="label">Número de Teléfono:</label>
        <input type="text" class="input" name="numTelefono" value="<%= aspirante.numTelefono %>" required>
        <br><br>
        <label class="label">Lugar de origen:</label>
        <input type="text" class="input" name="lugarOrigen" value="<%= aspirante.lugarOrigen %>" required>
        <br><br>
        <label class="label">Universidad de Procedencia:</label>
        <input type="text" class="input" name="universidadOrigen" value="<%= aspirante.universidadOrigen %>" required>
        <br><br>
    </div>
    <br><br>
    <section id="SesionIndividual">
        <div class="title">Sesión Individual</div>
        <div class="box has-background-info" >
            <label class="label">Fecha</label>
            <input class="input" type="date" name="fechaZoomIndividual" value = "<%= perteneceGrupo.fechaZoomIndividual.toISOString().split('T')[0]%>" required/>
            <br><br>
            <label class="label">Hora</label>
            <% const dateTime = new Date(perteneceGrupo.fechaZoomIndividual); const
            hours = String(dateTime.getHours()).padStart(2, '0'); const
            minutes = String(dateTime.getMinutes()).padStart(2, '0'); %>
            <input class="input" type="time" name="horaSesionIndividual" value="<%= hours %>:<%= minutes %>" required/>
            <br><br>
            <label class="label">Link</label>
            <input class="input" type="text" name="enlaceZoom" value="<%= perteneceGrupo.enlaceZoom %>" required/>
        </div>
    </section> 
    <div class="columns">
        <div class="column has-text-centered">
            <input class="button m-5 is-primary has-text-white" type="submit" value="Confirmar">
        </div>
    </div>
  </form>
</section>
<script>
   document.querySelector('form').addEventListener('submit', function (e) {
    const hoy = new Date().toISOString().split('T')[0]; // formato YYYY-MM-DD

    const fechaZoomIndividual = document.querySelector('input[name="fechaZoomIndividual"]').value;

    if (fechaZoomIndividual < hoy) {
      e.preventDefault(); 
      alert("La fecha de la prueba no puede ser anterior a la fecha de hoy.");
    }

});
</script>