<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<style>
  .fullHeight {
    min-height: 90vh;
  }
</style>
<body class="has-background-danger-95 fullHeight">
  <section class="section fullHeight">
    <nav class="level-right">
      <div class="level-right">
        <article class="message">
          <div class="message-body" id="timer"></div>
        </article>
      </div>
    </nav>
    <% if (prueba.idPrueba === 1) {%>
    <div class="container" id="container">
      <% if (pregunta) { %>
      <p class="subtitle is-2" id="numero-pregunta">
        Pregunta <%= pregunta.numeroPreguntaKostick %>
      </p>

      <% if (opciones) { %> <% opciones.forEach(opcion => { %>
      <div class="control" id="option-<%= opcion.idOpcionKostick %>">
        <label class="radio mx-5 subtitle is-4">
          <input
            type="radio"
            name="answer"
            value="<%= opcion.idOpcionKostick %>"
            required />
          <%= opcion.opcionKostick %>. <%= opcion.descripcionOpcionKostick %>
        </label>
      </div>
      <% }) %> <% } %> <% } %>

      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <button
        type="button"
        class="column is-narrow button mt-3"
        onclick="nextQuestion(event)">
        Siguiente
      </button>
    </div>
    <%} else if (prueba.idPrueba === 2) {%>
    <div class="container" id="container">
      <% if (pregunta) { %>
      <p class="subtitle is-2" id="numero-pregunta">
        Pregunta <%= pregunta.numeroPregunta16PF %>
      </p>
      <p class="subtitle is-3" id="texto-pregunta">
        <%= pregunta.pregunta16PF %>
      </p>
      <% if (opciones) { %> <% opciones.forEach(opcion => { %>
      <div class="control" id="option-<%= opcion.idOpcion16PF %>">
        <label class="radio mx-5 subtitle is-4">
          <input
            type="radio"
            name="answer"
            value="<%= opcion.idOpcion16PF %>"
            required />
          <%= opcion.opcion16PF %>. <%= opcion.descripcionOpcion16PF %>
        </label>
      </div>
      <% }) %> <% } %> <% } %>

      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <button
        type="button"
        class="column is-narrow button mt-3"
        onclick="nextQuestion1(event)">
        Siguiente
      </button>
    </div>
    <%}%>
  </section>
  <script>
    function nextQuestion(event) {
      event.preventDefault();

      const selectedOption = document.querySelector(
        'input[name="answer"]:checked'
      );
      if (!selectedOption) {
        alert("Por favor selecciona una opción antes de continuar");
        return;
      }
      const respuestaSeleccionada = document.querySelector(
        'input[name="answer"]:checked'
      );

      const data = {
        respuestaSeleccionada: respuestaSeleccionada.value,
      };
      fetch(`/aspirante/siguiente_pregunta?idPrueba=${data.idPrueba}`, {
        method: "GET",
        headers: {
          "X-CSRF-Token": document.querySelector('input[name="_csrf"]').value,
        },
      })
        .then((response) => {
          if (!response.ok) {
            throw new Error("Network response was not ok");
          }
          return response.json();
        })
        .then((data) => {
          console.log(data);
          console.log(data.preguntaKostick);
          let html = `<div class = "container">`;
          const questionNumberElement =
            document.getElementById("numero-pregunta");
          html += `<p class="subtitle is-2" id="numero-pregunta">
                    Pregunta ${data.pregunta.numeroPreguntaKostick}
                    </p>`;
          if (data.opciones && Array.isArray(data.opciones)) {
            data.opciones.forEach((opcion) => {
              html += `<div class="control" id="option-${opcion.idOpcionKostick}">
                              <label class="radio mx-5 subtitle is-4">
                                <input
                                  type="radio"
                                  name="answer"
                                  value="${opcion.idOpcionKostick}" required />
                                ${opcion.opcionKostick}. ${opcion.descripcionOpcionKostick}
                              </label>
                              </div>
                            `;
            });
          }
          html += `  <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <button
        type="button"
        class="column is-narrow button mt-3"
        onclick="nextQuestion(event)">
        Siguiente
      </button>
    </div>`;
          const container = document.getElementById("container");
          container.innerHTML = html;
        })
        .catch((error) => {
          console.error("There was a problem with the fetch operation:", error);
        });
    }
    function nextQuestion1(event) {
      event.preventDefault();

      const selectedOption = document.querySelector(
        'input[name="answer"]:checked'
      );
      if (!selectedOption) {
        alert("Por favor selecciona una opción antes de continuar");
        return;
      }
      const respuestaSeleccionada = document.querySelector(
        'input[name="answer"]:checked'
      );

      const data = {
        respuestaSeleccionada: respuestaSeleccionada.value,
      };
      fetch(`/aspirante/siguiente_pregunta1/`, {
        method: "GET",
        headers: {
          "X-CSRF-Token": document.querySelector('input[name="_csrf"]').value,
        },
      })
        .then((response) => {
          if (!response.ok) {
            throw new Error("Network response was not ok");
          }
          return response.json();
        })
        .then((data) => {
          console.log(data);
          console.log(data.pregunta16PF);
          let html = `<div class = "container">`;
          const questionNumberElement =
            document.getElementById("numero-pregunta");
          html += `<p class="subtitle is-2" id="numero-pregunta">
                    Pregunta ${data.pregunta.numeroPregunta16PF}
                    </p>
                    <p class="subtitle is-3" id="texto-pregunta">
                    ${data.pregunta.pregunta16PF}
                    </p>`;
          if (data.opciones && Array.isArray(data.opciones)) {
            data.opciones.forEach((opcion) => {
              html += `<div class="control" id="option-${opcion.idOpcion16PF}">
                              <label class="radio mx-5 subtitle is-4">
                                <input
                                  type="radio"
                                  name="answer"
                                  value="${opcion.idOpcion16PF}" required />
                                ${opcion.opcion16PF}. ${opcion.descripcionOpcion16PF}
                              </label>
                              </div>
                            `;
            });
          }
          html += `  <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <button
        type="button"
        class="column is-narrow button mt-3"
        onclick="nextQuestion1(event)">
        Siguiente
      </button>
    </div>`;
          const container = document.getElementById("container");
          container.innerHTML = html;
        })
        .catch((error) => {
          console.error("There was a problem with the fetch operation:", error);
        });
    }
  </script>
</body>
<script>
  let duracionMinutos = <%=prueba.duracion%>;
  let totalSegundos = duracionMinutos * 60;
  let cuentaRegresiva = setInterval(function() {
      let horas = Math.floor(totalSegundos / 3600);
      let minutos = Math.floor((totalSegundos % 3600) / 60);
      let segundos = totalSegundos % 60;
      let formatoTiempo = `${horas}:${String(minutos).padStart(2, '0')}:${String(segundos).padStart(2, '0')}`;
      document.getElementById("timer").innerHTML = formatoTiempo;
      totalSegundos--;
      if (totalSegundos < 0) {
          clearInterval(cuentaRegresiva);
          document.getElementById("timer").innerHTML = "TIME UP";
      }
  }, 1000);
</script>
