<style>
  .fullHeight {
    min-height: 90vh;
    margin-top: 20px;
  }

  .card-option {
    width: 220px;
    border-radius: 16px;
    transition: all 0.3s ease-in-out;
    background-color: white;
    display: block;
    text-decoration: none;
    color: inherit;
  }

  .card-option:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(38, 88, 206, 0.1);
    background-color: #fdfdfd;
  }
</style>
<section class="section has-background-warning fullHeight">
  <div class="container" style="width: 60%">
    <div class="columns">
      <div class="column">
        <h1 class="title has-text-weight-semibold">
          Reporte - <%= aspirante.nombres%> <%= aspirante.apellidoPaterno%> <%=
          aspirante.apellidoMaterno%>
        </h1>
        <!-- Registrar reporte y consultar reporte-->
        <div class="columns is-multiline is-centered">
          <div class="column is-narrow">
            <a href="../registraReporte/<%= aspirante.idUsuario %>">
              <div class="card card-option has-text-centered">
                <div class="card-content">
                  <span class="icon is-large has-text-primary mb-3">
                    <img
                      src="https://images.icon-icons.com/3858/PNG/512/upload_file_icon_238365.png"
                      alt="Reporte" />
                  </span>
                  <p class="title is-6 has-text-weight-semibold">
                    Subir Reporte
                  </p>
                </div>
              </div>
            </a>
          </div>

          <div class="column is-narrow">
            <a
              href="/psicologa/consultarDocumentosAspirante/<%= aspirante.idUsuario%>">
              <div class="card card-option has-text-centered">
                <div class="card-content">
                  <span class="icon is-large has-text-primary mb-3">
                    <i
                      class="fa-solid fa-user fa-2xl"
                      style="color: #000000"></i>
                  </span>
                  <p class="title is-6 has-text-weight-semibold">
                    Consultar documentos
                  </p>
                </div>
              </div>
            </a>
          </div>
          <% if (formatoEntrevista.estatus != "Finalizado"){%>
            <div class="column is narrow">
              El aspirante aún no ha <br>respondido el formato de entrevista
            </div>
            <%} else {%>
          <div class="column is-narrow">
            <a href="/psicologa/formatoEntrevista/<%= aspirante.idUsuario%>">
              <div class="card card-option has-text-centered">
                <div class="card-content">
                  <span class="icon is-large has-text-primary mb-3">
                    <i
                      class="fa-solid fa-user fa-2xl"
                      style="color: #000000"></i>
                  </span>
                  <p class="title is-6 has-text-weight-semibold">
                    Consultar formato de entrevista
                  </p>
                </div>
              </div>
            </a>
          </div>
          <%}%>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  console.log("Estatus:", "<%= formatoEntrevista.estatus %>");
</script>
