<%- include('includes/_navbarP')%>
<style>
  .fullHeight {
    min-height: auto;
    margin-top: 20px;
  }
  @media print {
    .navbar,
    .footer,
    .descargar,
    footer {
      display: none;
    }
  }
</style>
<div class="section fullHeight">
  <div class="container is-max-desktop mt-5">
    <div class="title has-text-weight-semibold mb-2">
      Respuestas de: <%= datos.nombres %> <%= datos.apellidoPaterno %> <%=
      datos.apellidoMaterno %>
    </div>
    <div class="subtitle">
      Grupo: <%= grupo.posgrado %> <%= grupo.generacion%>
    </div>
    <br />
    <div class="subtitle has-text-centered"><%= prueba %></div>
    <div id="IM"></div>

    <div>
        <% 
            let respuestasIncorrectas = 0;
            let sinRespuesta = 0;
            for(area of informacionAnalisis) {
              respuestasIncorrectas += parseInt(area.respuestasIncorrectas, 10) || 0;
              sinRespuesta += parseInt(area.sinRespuesta, 10) || 0;
            }
          %>
          <div class="columns has-text-centered">
            <div class="column card text-center p-4 m-4">
              <h5 class="subtitle mb-2">Respuestas Correctas</h5>
                <p id="puntajeBruto">
                  <%= puntajeBruto %>
                </p>
            </div>
            <div class="column card text-center p-4 m-4">
              <h5 class="subtitle mb-2">Coeficiente Intelectual</h5>
              <p id="ci">
                <%= puntajeBruto + 64 %>
              </p>
            </div>
            <div class="column card text-center p-4 m-4">
              <h5 class="subtitle">El aspirante se encuentra <br>
                en el nivel intelectual <br> <br></h5>
              <p id="nivelIntelectual" class="fw-bold fs-2 mb-0">
                <% if ((puntajeBruto + 64) <= 69) { %>
                    <strong>RETARDO MENTAL</strong>
                <% } else if ((puntajeBruto + 64) <= 79) { %>
                    <strong>LIMÍTROFE</strong>
                <% } else if ((puntajeBruto + 64) <= 89) { %>
                    <strong>NORMAL LENTO</strong>
                <% } else if ((puntajeBruto + 64) <= 109) { %>
                    <strong>NORMAL</strong>
                <% } else if ((puntajeBruto + 64) <= 119) { %>
                    <strong>NORMAL BRILLANTE</strong>
                <% } else if ((puntajeBruto + 64) <= 129) { %>
                    <strong>SUPERIOR</strong>
                <% } else { %>
                    <strong>MUY SUPERIOR</strong>
                <% } %>
              </p>
            </div>
          </div>
    
          <div class="col-md-4">
            <canvas id="graficaPieRespuestas" width="200" height="200"></canvas>
          </div>
    
          <div class="columns">
            <div class="column">
              <div class="subtitle">Resultados por Área</div>
              <div class="chart-container" style="position: relative; height:300px; width:100%">
                <canvas id="graficaAreas"></canvas>
              </div>
            </div>
            <div class="column is-4">
              <br>
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <th>Área</th>
                            <th>Porcentaje</th>
                        </tr>
                    </thead>
                    <tbody class="">
                        <% for(area of informacionAnalisis) { %>
                            <tr>
                                <td> <%= area.nombreAreaOtis %> </td>
                                <td> <%= area.porcentajeCorrectas %> </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
          </div>
      </div>

  </div>
</div>

<script>
    const informacionAnalisis = <%- JSON.stringify(informacionAnalisis)  %>;

    const labels = informacionAnalisis.map(area => area.nombreAreaOtis);
    const data = informacionAnalisis.map(area => parseFloat(area.porcentajeCorrectas));

    const backgroundColors = data.map(valor => {
        if (valor > 90) return 'rgba(146, 208, 80, 1)';
        if (valor > 75) return 'rgba(84, 129, 53, 1)';
        if (valor > 55) return 'rgba(0, 176, 240, 1)';
        if (valor > 25) return 'rgba(255, 102, 0, 1)';
        return 'rgba(255, 0, 0, 1)';
    });

    const borderColors = data.map(valor => {
        if (valor > 90) return 'rgba(146, 208, 80, 1)';
        if (valor > 75) return 'rgba(84, 129, 53, 1)';
        if (valor > 55) return 'rgba(0, 176, 240, 1)';
        if (valor > 25) return 'rgba(255, 102, 0, 1)';
        return 'rgba(255, 0, 0, 1)';
    });

    const ctx = document.getElementById('graficaAreas');

    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Porcentaje por Área',
                data: data,
                backgroundColor: backgroundColors,
                borderColor: borderColors,
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                y: {
                    min: 0,
                    max: 100,
                    beginAtZero: true
                }
            }
        }
    })

    const cpr = document.getElementById('graficaPieRespuestas');
    new Chart(cpr, {
        type: 'pie',
        data: {
            labels: ['Respuestas Correctas', 'Respuestas Incorrectas', 'No Contestadas'],
            datasets: [{
                label: 'Respuestas',
                data: [<%= puntajeBruto %>, <%= respuestasIncorrectas %>, <%= sinRespuesta %>],
                backgroundColor: ['rgba(146, 208, 80, 1)', 'rgba(255, 102, 0, 1)', 'rgba(255, 0, 0, 1)'],
                borderColor: ['rgba(146, 208, 80, 1)', 'rgba(255, 102, 0, 1)', 'rgba(255, 0, 0, 1)'],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false
        }
    })

    const pBruto = document.getElementById('puntajeBruto');

    if (<%= puntajeBruto%> > 67) {
        pBruto.style.color = 'rgba(146, 208, 80, 1)';
    } 
    else if (<%= puntajeBruto %> > 56) {
        pBruto.style.color = 'rgba(84, 129, 53, 1)';
    } 
    else if (<%= puntajeBruto %> > 41) {
        pBruto.style.color = 'rgba(0, 176, 240, 1)';
    } 
    else if (<%= puntajeBruto %> > 18) {
        pBruto.style.color = 'rgba(255, 102, 0, 1)';
    } 
    else {
        pBruto.style.color = 'rgba(255, 0, 0, 1)';
    }
</script>

<%- include('includes/_footer')%>
