<%- include('includes/_navbarP')%>
<style>
  .fullHeight {
    min-height: 130vh;
    margin-top: 20px;
  }
</style>
<section class="fullHeight has-background-warning">
  <div class="container is-max-desktop mt-5">
    <br /><br />
    <h1 class="title has-text-weight-semibold mb-2">Lista de Pruebas</h1>
    <br />

    <% pruebas.forEach(prueba => { %>
    <div class="box">
      <div class="title has-text-weight-semibold mb-2">
        <%= prueba.nombre %>
      </div>
      <br />
      <div class="subtitle">Instrucciones:</div>
      <br />
      <div class="instructions"><%= prueba.instrucciones %></div>
      <br />
      <p>Duración: <%= (prueba.duracion / 60).toFixed(0) %> min</p>
      <div>
        <a href="/psicologa/pruebas/<%= prueba.idPrueba%>">
          <button class="button m-5 is-primary has-text-white">Consultar Preguntas</button>
        </a>
      </div>
    </div>
    <% }) %>

    <a href="inicio">
      <button class="button m-5 is-primary has-text-white">Regresar</button>
    </a>
    <br />
    <br />
    <br />
    <br />
  </div>
</section>

<%- include('includes/_footer')%>
