<%- include('includes/_navbarP')%>
<head> </head>
<body class="fullHeight">
  <section class="section">
    <div class="title">Grupo </div>

    <div class="subtitle"><%= grupo.posgrado %> - <%= grupo.generacion %></div>

    <div class="columns">
      <div class="column"></div>
      <div class="column"></div>
      <div class="column"></div>
      <div class="column"></div>
      <div class="column is-1">
        <a href="registra_reporte/<%= grupo.idGrupo%>">
          <button class="image-button">
            <img
              src="https://cdn-icons-png.flaticon.com/512/1828/1829031.png"
              alt=""
              width="20px"
            /></button
        ></a>
      </div>
      <div class="column is-1">
        <a href="modifica_grupo">
          <button class="image-button">
            <img
              src="https://cdn-icons-png.flaticon.com/512/764/764599.png"
              alt=""
              width="20px"
            /></button
        ></a>
      </div>
    </div>
    
    
  </section>

  <section>
    <div class="container is-align-items-center">
      <table class="table">
        <thead>
          <tr>
            <th>Prueba</th>
            <th>Fecha Limite</abbr></th>
            <th>Tiempo Promedio</th>
            <th>Estatus</th>
            <th>Respuestas</th>
          </tr>
        </thead>
  
        <tbody>
          <tr>
            <th>Prueba OTIS</th>
            <td>21/02/2025</td>
            <td>29:35 min</td>
            <td>2/8</td>
            <td>
              <a href="consulta_respuestas_grupo">
                <button class="image-button">
                  <img
                    src="https://img.icons8.com/ios7/512/plus.png"
                    alt=""
                    width="25px"
                  /></button
              ></a>
            </td>
          </tr>
          <tr>
            <th>Prueba TERMAN</th>
            <td>27/02/2025</td>
            <td>10:22 min</td>
            <td>7/8</td>
            <td>
              <a href="consulta_respuestas_grupo">
                <button class="image-button">
                  <img
                    src="https://img.icons8.com/ios7/512/plus.png"
                    alt=""
                    width="25px"
                  /></button
              ></a>
            </td>
          </tr>
          <tr>
            <th>Test de los colores de Lusher</th>
            <td>27/02/2025</td>
            <td>9:56 min</td>
            <td>1/8</td>
            <td>
              <a href="consulta_respuestas_grupo">
                <button class="image-button">
                  <img
                    src="https://img.icons8.com/ios7/512/plus.png"
                    alt=""
                    width="25px"
                  /></button
              ></a>
            </td>
          </tr>
          <tr>
            <th>Personalidad 16 Factores</th>
            <td>27/02/2025</td>
            <td>18:44 min</td>
            <td>3/8</td>
            <td>
              <a href="consulta_respuestas_grupo">
                <button class="image-button">
                  <img
                    src="https://img.icons8.com/ios7/512/plus.png"
                    alt=""
                    width="25px"
                  /></button
              ></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <a href="elegir"
      ><button class="button m-5 is-primary has-text-white">Regresar</button></a
    >
    <a href="/psicologa/inicio"
      ><button class="button m-5 is-primary has-text-white">
        Volver al inicio
      </button></a
    >
  </section>

  <%- include('includes/_footer')%>
</body>
