<%- include('includes/_navbarP')%>

<body class="fullHeight">
  <section class="section">
    <div class="title">Aspirante</div>

    <div class="columns">
      <div class="column"></div>
      <div class="column"></div>
      <div class="column"></div>
      <div class="column"></div>
      <div class="column is-1">
        <a href="registra_reporte/:id">
          <button class="image-button" method="GET">
            <img
              src="https://cdn-icons-png.flaticon.com/512/1828/1829031.png"
              alt=""
              width="20px"
            /></button
        ></a>
      </div>
      <div class="column is-1">
        <a href="modifica_grupo">
          <button class="image-button">
            <img
              src="https://cdn-icons-png.flaticon.com/512/764/764599.png"
              alt=""
              width="20px"
            /></button
        ></a>
      </div>
    </div>
  </section>

  <section>
    <div class="container is-align-items-center">
      <div class="field has-addons">
        <div class="control">
          <input id="barra_buscar" name="barra_buscar" class="input" type="text" placeholder="Ingresa el parámetro">
        </div>
        <div class="control">
          <button class="button is-info">
            Buscar
          </button>
        </div>
      </div>


      <div id="container_aspirantes">
        <table class="table">
            <tr>
              <% let i = 0 %>
              <% for(let aspirante of aspirantes) { %>
                <td>
                  <a href="/consulta_aspirante/<%= aspirante.id %>">
                    <%= aspirante.nombres %> <%= aspirante.apellidoPaterno %> <%= aspirante.apellidoMaterno %>
                  </a>
                </td>
                <% i++ %>
                <% if(i % 6 == 0) { %>
                </tr>
                <tr>
                <% } %>
              <% } %>
            </tr>
        </table>
      </div>



      <table class="table">
        <thead>
          <tr>
            <th>Prueba</th>
            <th>Fecha</th>
            <th>Tiempo</th>
            <th>Estatus</th>
            <th>Respuestas</th>
          </tr>
        </thead>
  
        <tbody>
          <tr>
            <th>Prueba OTIS</td>
            <td>21/02/2025</td>
            <td>29:35 min</td>
            <td>Completada</td>
            <td>
              <a href="consulta_respuestas_aspirante">
                <button class="image-button">
                  <img
                    src="https://img.icons8.com/ios7/512/plus.png"
                    alt=""
                    width="25px"
                  /></button
              ></a>
            </td>
          </tr>
          <tr>
            <th>Prueba TERMAN</th>
            <td>27/02/2025</td>
            <td>-</td>
            <td>Pendiente</td>
            <td>
              <a href="consulta_respuestas_aspirante">
                <button class="image-button">
                  <img
                    src="https://img.icons8.com/ios7/512/plus.png"
                    alt=""
                    width="25px"
                  /></button
              ></a>
            </td>
          </tr>
          <tr>
            <th>Test de los colores de Lusher</td>
            <td>27/02/2025</td>
            <td>-</td>
            <td>Pendiente</td>
            <td>
              <a href="consulta_respuestas_aspirante">
                <button class="image-button">
                  <img
                    src="https://img.icons8.com/ios7/512/plus.png"
                    alt=""
                    width="25px"
                  /></button
              ></a>
            </ttdh>
          </tr>
          <tr>
            <th>Personalidad 16 Factores</td>
            <td>27/02/2025</td>
            <td>-</td>
            <td>Pendiente</td>
            <td>
              <a href="consulta_respuestas_aspirante">
                <button class="image-button">
                  <img
                    src="https://img.icons8.com/ios7/512/plus.png"
                    alt=""
                    width="25px"
                  /></button
              ></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <script>
    const buscar = document.getElementById('barra_buscar');
    buscar.onkeyup = () => {

        fetch('/psicologa/buscar/' + buscar.value, {
            method: 'GET',
        }).then((result) => {
            return result.json();
        }).then((data) => {

          let html = `<table  class="table">
            <tr>`;
            
            let i = 0;
            for (let aspirante of data.aspirantes) {
                html += `<td><a href="/buscar${aspirante.id}">${aspirante.nombres} ${aspirante.apellidoPaterno} ${aspirante.apellidoMaterno}</a></td>`;
                i++;
                if (i % 6 === 0) {
                    html += `</tr>
                            <tr>`;
                }
            }

            html += '</tr></table>';
            const container = document.getElementById('container_aspirantes');
            container.innerHTML = html;
        }).catch((error) => {
            console.log(error);
        });
      }
  </script>

  <%- include('includes/_footer')%>
</body>
