<%- include('includes/_navbarP') %>
<style>
  .fullHeight {
    min-height: 80vh;
  }
</style>
<div class="container fullHeight">
  <!-- Título -->
  <h2 class="title is-3 mt-5">Crear Grupo</h2>

  <!-- Subir archivo y fecha límite -->
  <div class="columns">
    <div class="column">
      <label class="label">Subir Archivo</label>
      <div class="file">
        <label class="file-label">
          <input class="file-input" type="file" name="resume" accept=".csv" />
          <span class="file-cta">
            <span class="file-label"> Selecciona un archivo </span>
          </span>
        </label>
      </div>
    </div>
    <div class="column">
      <label class="label">Fecha Límite:</label>
      <input type="date" class="input" name="fechaLimite" value="2025-01-01" />
    </div>
  </div>

  <!-- Batería de Pruebas -->
  <div class="box">
    <div class="is-flex is-align-items-center mb-3">
      <strong class="mr-auto">Batería de Pruebas</strong>
      <button onclick="agregarPrueba()" id="button-agregar">
        <img
          src="https://img.icons8.com/m_rounded/512/plus.png"
          width="30"
          height="30" />
      </button>
    </div>

    <!-- Lista de pruebas -->
    <div class="box has-background-primary">
      <div class="columns">
        <div class="column">
          <div class="select is-fullwidth">
            <select name="pruebasOpcion">
              <option value="" selected disabled>Selecciona una prueba</option>
              <% pruebas.forEach(prueba => {%>
              <option value="<%= prueba.idPrueba%>">
                <%= prueba.nombrePrueba%>
              </option>
              <%})%>
            </select>
          </div>
        </div>
        <div
          class="column is-1"
          style="text-align: center; margin-top: 5px"></div>
      </div>
    </div>
  </div>

  <br /><br />

  <!-- Botones de acción -->
  <section id="SesionGrupal">
    <div class="title">Sesión Grupal</div>
    <div class="columns is-mobile">
      <div class="column">
        <div class="field">
          <label class="label">Fecha</label>
          <div class="control">
            <input
              class="input"
              type="date"
              name="fechaPruebaGrupal"
              value="2025-01-01" />
          </div>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <label class="label">Hora</label>
          <div class="control">
            <input class="input" type="time" name="horaPruebaGrupal" />
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="field">
        <label class="label">Link</label>
        <div class="control">
          <input
            class="input"
            type="text"
            name="linkPruebaGrupal"
            value="ingresa un link" />
        </div>
      </div>
    </div>
  </section>

  <br /><br />

  <section id="SesionIndividual">
    <div class="title">Sesión Individual</div>

    <!-- Botón para agregar sesiones individuales -->
    <div class="is-flex is-align-items-center mb-3">
      <button onclick="agregarSesionIndividual()" id="button-agregar-sesion">
        <img
          src="https://img.icons8.com/m_rounded/512/plus.png"
          width="30"
          height="30" />
      </button>
    </div>

    <!-- Contenedor donde se agregarán las sesiones individuales -->
    <div class="box has-background-info" id="contenedorSesionesIndividuales">
      <!-- Las sesiones individuales se agregarán aquí dinámicamente -->
    </div>
  </section>
</div>

<div class="buttons is-centered">
  <a href="inicio"
    ><button class="button m-5 is-primary has-text-white">Regresar</button></a
  >
  <a href="confirmar_creacion_grupo"
    ><button class="button m-5 is-primary has-text-white">Confirmar</button></a
  >
</div>

<script>
  function agregarPrueba() {
    const contenedor = document.querySelector(".box.has-background-primary");
    const nuevaPrueba = document.createElement("div");
    nuevaPrueba.classList.add("columns", "mt-2");

    nuevaPrueba.innerHTML = `
      <div class="column">
          <div class="select is-fullwidth">
            <select name="pruebasOpcion">
              <option value="" selected disabled>Selecciona una prueba</option>
              <% pruebas.forEach(prueba => {%>
              <option value="<%= prueba.idPrueba%>">
                <%= prueba.nombrePrueba%>
              </option>
              <%})%>
            </select>
          </div>
      </div>
      <div class="column is-1" style="text-align: center; margin-top: 5px">
        <button onclick="eliminarPrueba(this)">
          <img src="https://static.thenounproject.com/png/2456540-200.png" width="30" height="30" />
        </button>
      </div>
    `;

    //Se agrega la prueba al contenedor
    contenedor.appendChild(nuevaPrueba);
  }

  function eliminarPrueba(boton) {
    boton.closest(".columns").remove();
  }

  function agregarSesionIndividual() {
    const contenedor = document.getElementById(
      "contenedorSesionesIndividuales"
    );

    const nuevaSesion = document.createElement("div");
    nuevaSesion.classList.add("tarjeta", "mt-3");

    nuevaSesion.innerHTML = `
      <div class="columns is-mobile">
        <div class="column">
          <div class="field">
            <label class="label">Aspirante</label>
            <div class="control">
              <div class="select is-fullwidth">
                <select name="aspirante">
                  <option>Selecciona una opción</option>
                  <option>Joanna Nicole</option>
                  <option>Frida Arcadia</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="columns is-mobile">
        <div class="column">
          <div class="field">
            <label class="label">Fecha</label>
            <div class="control">
              <input class="input" type="date" name="fechaSesionIndividual" />
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label">Hora</label>
            <div class="control">
              <input class="input" type="time" name="horaSesionIndividual" />
            </div>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Link</label>
        <div class="control">
          <input class="input" type="text" name="linkSesionIndividual" placeholder="Ingresa un link" />
        </div>
      </div>

      <div class="has-text-right">
        <button class="button" onclick="eliminarSesionIndividual(this)">
          <img src="https://static.thenounproject.com/png/2456540-200.png" width="20" height="20" />
        </button>
      </div>
    `;

    contenedor.appendChild(nuevaSesion);
  }

  function eliminarSesionIndividual(boton) {
    boton.closest(".tarjeta").remove();
  }
</script>

<%- include('includes/_footer') %>
