<%- include('includes/_navbarP')%>
<style>
  .fullHeight {
    min-height: 76.5vh;
  }
  .container {
    min-height: 60vh;
  }
  .button {
    margin-left: 9%;
  }
</style>
<section class="section fullHeight">
  <div class="container">
    <br />
    
      <div class="title">Elegir Grupo</div>
        <br>
        <% grupos.forEach(grupo => {%>
        <div class="columns">
          <div class="column subtitle">
            <%= grupo.posgrado %> - <%=grupo.generacion%>
          </div>
          <div class="column is-2">
            <a href="/psicologa/grupo/<%= grupo.idGrupo%>">
              <button class="button m-5 is-primary has-text-white">Consultar</button>
            </a>
          </div>
          
        </div>
        <%})%>
        

      </table>
</section>

<%- include('includes/_footer')%>
