<%- include('includes/_navbarP')%>
<style>
  .fullHeight {
    min-height: 76.5vh;
  }
  .container {
    min-height: 60vh;
  }
  .button {
    margin-left: 9%;
  }
</style>
<section class="section fullHeight">
  <div class="container">
    <br />
    <section>
      <div class="title">Elegir Grupo</div>
      <br />
      <div class="subtitle">Selecciona el grupo a consultar</div>
      <br />
    </section>
    <div class="select is-fullwidth">
      <div class="subtitle">Grupos</div>
      <select name="elegirGrupo">
        <option value="" selected disabled>Selecciona un grupo</option>
        <% grupos.forEach(grupo => {%>
        <option value="<%= grupo.posgrado %>">
          <%= grupo.posgrado %> - <%=grupo.generacion%>
        </option>
        <%})%>
      </select>
    </div>
  </div>
  <div class="columns">
    <div class="column buttonColumn">
      <a href="consulta_grupo"
        ><button class="button is-primary mt-3 has-text-white">
          Consultar
        </button></a
      >
    </div>
  </div>
</section>

<%- include('includes/_footer')%>
