<%- include('includes/_navbarP')%>
<style>
  .fullHeight {
    min-height: 90vh;
    margin-top: 70px;
  }
</style>
<section class="fullHeight has-background-warning">
  <div class="container is-max-desktop mt-5">  <div class="container">
    <div class="title has-text-weight-semibold">Subir Foda del Grupo</div>
    <div class="columns is-mobile">
      <div class="column">
        <div class="has-text-weight-bold">Posgrado: <%= grupo.posgrado %></div>
        <div class="has-text-weight-bold">
          Generación: <%= grupo.generacion %>
        </div>
      </div>
      <div class="column">
        <div class="has-text-weight-bold">Subir Archivos</div>
        <br />
        <div>FODA</div>
        <% if (grupo) { %>
        <form
          action="/psicologa/grupo/registra_foda/<%= grupo.idGrupo%>"
          method="POST"
          enctype="multipart/form-data"></form>
          <%}%>
          <div class="file is-boxed">
            <label class="file-label">
              <input type="hidden" name="_csrf" value="<%=csrfToken%>"/>
              <input
                class="file-input"
                type="file"
                name="archivo"
                accept=".pdf"
                required
              />
              <span class="file-cta">
                <span class="file-icon">
                  <img
                    src="https://images.icon-icons.com/3858/PNG/512/upload_file_icon_238365.png" />
                </span>
                <span class="file-label"> Elige un archivo </span>
              </span>
            </label>
          </div>
          <br />
          <input class="button is-info" type="submit" value="Subir" />
        </form>
      </div>
    </div>
    <div class="columns">
      <div class="column has-text-centered">
        <% if (grupo.archivoFoda === null) { %>
        <p>Aún no hay un reporte foda registrado para este grupo</p>
        <%} else {%>
        <a href="/psicologa/pdf/<%= grupo.archivoFoda%>">
          <button class="button is-primary has-text-warning mt-6">
            Ver reporte
          </button>
        </a>
        <%}%>
      </div>
    </div>
  </div>
</section>

<%- include('includes/_footer')%>
